<div style="display: flex; justify-content: center;">
    <button class="button" [routerLink]="['']">Go Back to Menu</button>
</div>
<br>
<br>
<div style="display: flex; justify-content: center;">
    <p style="color: blueviolet; font-size: xx-large; text-align: center;">
        Hi my name is William Osuji<br> and I made this little project as a way<br> to learn a little bit more about Angular,<br>
        how APIs work, and how to implement known repos<br> with the aim of adapting them into my various projects. 
        <br>
        <br>
        <a href="https://github.com/WilliamNOsuji" style="color: rgb(165, 58, 236); font-size: x-large;">I am glad to see you here</a>
        <br>
        <br>
        <a href="https://github.com/vasturiano/globe.gl" style="color: cadetblue;">Repo for the Awesome Globe</a>
        <br>
        <br> 
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Important Information</a>
    </p>
</div>